body {
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
}

.big-container {
    height: 600px;
    width: 600px;
    padding: 20px;
    background-color: rgb(113, 2, 2);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 2% auto;
    box-shadow: 2px 2px 2px 2px rgb(94, 0, 0);
}
.buttons {
    display: flex;
}
.button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: "Helvetica", "Arial", sans-serif;

    border-radius: 5px;
}

.box {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(247, 247, 247);
}
