.container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 2% auto;
    box-shadow: 2px 2px 2px 2px gray;
}

.box {
    border: 1px solid rgba(196, 196, 196, 0.15);
    
}
